
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #600;
    color: #fff;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#score-counter {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#player-score {
    display: flex;
    justify-content: space-evenly;
}

#computer-score {
    display: flex;
    justify-content: space-evenly;
}

#game-items {
    display: flex;
    justify-content: space-evenly;
}